<div class="fixed-hero-background" [style.background-image]="'url(' + heroImage() + ')'"></div>

<ion-content [scrollEvents]="true" class="blog-scroll-content">
  <div class="main-content">
    <div class="overlay">
      <h1 class="hero-title">{{ blog().title }}</h1>
      <p class="hero-location">{{ blog().city }}, {{ blog().country }}</p>
    </div>

    <p class="date">{{ formattedDate() }}</p>

    <quill-view [content]="blog().content" format="object"></quill-view>

    @if (blog().useless_facts && blog().useless_facts.length > 0) {
    <div class="useless-facts-section">
      <span class="useless-tag">Useless Facts</span>
      <ul>
        @for (fact of blog().useless_facts; track fact) {
        <li [innerHTML]="fact | markdown"></li>
        }
      </ul>
    </div>
    }

    @if (blog().place?.place_name) {
    <h4 class="place-name">{{ blog().place?.place_name }}</h4>
    }

    <div class="map-placeholder">
    </div>

    @if (blog().gallery_images && blog().gallery_images.length > 0) {
    <div class="gallery">
      <h5>Gallery</h5>
      <div class="gallery-grid">
        @for (img of previewGallery(); track img) {
        <img [src]="img" class="gallery-thumb" alt="Gallery image" />
        }

        @if (remainingCount() > 0) {
        <div class="gallery-more">+{{ remainingCount() }}</div>
        }
      </div>
    </div>
    }
  </div>
</ion-content>
