<ion-header  [class]="!isEditMode() ? 'transparent-header ion-no-border' : ''">
  <ion-toolbar>
    @if (!isEditMode()) {
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-back-button></ion-back-button>
          <ion-button routerLink="/home">
            <ion-icon slot="icon-only" name="home-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
    } @else {
      <ion-title>Edit Microblog</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/admin">Cancel</ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (isLoading()) {
    <div class="loading-container">
      <ion-spinner name="circular"></ion-spinner>
      <p>Loading blog...</p>
    </div>
  } @else if (error()) {
    <div class="error-container">
      <p>{{ error() }}</p>
    </div>
  } @else if (!blog()) {
    <div class="empty-state">
      <p>No blog found</p>
    </div>
  } @else if (transformedBlog()) {
      @switch (isEditMode()) {
        @case (true) {
          <app-edit-blog [blog]="transformedBlog()!"></app-edit-blog>
        }
        @default {
          <app-blog-view [blog]="transformedBlog()!"></app-blog-view>
        }
      }
  }

</ion-content>
