<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Admin Panel</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCreateModal()">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Microblog
      </ion-button>
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (loading) {
  <div class="loading-container">
    <ion-spinner name="circular"></ion-spinner>
    <p>Loading blogs...</p>
  </div>
  } @else if (errorMessage) {
  <div class="error-container">
    <p>{{ errorMessage }}</p>
  </div>
  } @else if (microblogs.length === 0) {
  <div class="empty-state">
    <p>No blogs found</p>
  </div>
  } @else {
  <app-blog-selection-list [microblogs]="microblogs" [isAdminView]="true" (editMicroblog)="editMicroblog($event)"
    (deleteMicroblog)="deleteMicroblog($event)">
  </app-blog-selection-list>
  }
</ion-content>
