<ion-header>
  <ion-toolbar>
    <ion-title>Admin Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCreateModal()">Add Microblog</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let blog of microblogs">
      <ion-thumbnail slot="start">
        <img [src]="getThumbnail(blog)" alt="Blog thumbnail" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ blog.title }}</h2>
        <p>{{ blog.content | slice:0:100 }}...</p>
      </ion-label>
      <ion-button (click)="editMicroblog(blog)">Edit</ion-button>
      <ion-button color="danger" (click)="deleteMicroblog(blog.id!)">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
