<ion-header>
  <ion-toolbar>
    <ion-title>Create Microblog</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-card>
      <ion-card-content>

        <ion-input formControlName="title" label="Title" labelPlacement="stacked" placeholder="Title" [counter]="true"
          maxlength="60" [clearInput]="true"></ion-input>
        @if (form.get('title')?.touched && form.get('title')?.invalid) {
        <p class="error">
          Title is required (min 5 characters).
        </p>
        }

        <app-location-select (locationSelected)="onLocationSelected($event)"></app-location-select>
        @if (!selectedLocation()) {
        <p class="error">
          Please select a location.
        </p>
        }

        <quill-editor (onEditorChanged)="onEditorChange($event)" [modules]="quillModules" [styles]="quillStyles"
          [placeholder]="'Write your content here...'">
        </quill-editor>
        @if (form.get('content')?.touched && form.get('content')?.invalid) {
        <div class="error">
          Content must be at least 10 characters.
        </div>
        }

        @if (uselessFacts().length > 0) {
        <ion-card>
          <ion-card-header>
            <ion-card-title>Useless Facts</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              @for (fact of uselessFacts(); track $index) {
              <li>{{ fact }}</li>
              }
            </ul>
          </ion-card-content>
        </ion-card>
        }

        <div class="place-selection-container">
          @if (placesLoaded()) {
          <app-place-select (placeSelected)="onPlaceSelected($event)" [selectedLocationId]="selectedLocation()?.id">
          </app-place-select>
          }

          @if (!selectedLocation()) {
          <div class="required-location-message">
            <ion-icon name="information-circle-outline"></ion-icon>
            Please select a location first to enable place selection
          </div>
          }
        </div>

        <ion-button expand="block" (click)="generateUselessFacts()" [disabled]="shouldDisableUselessFacts()">
          🧠 Generate Useless Facts
        </ion-button>

        <input type="file" multiple (change)="handleFileInput($event)" />
        @if (files().length > 0) {
        <p>{{ files().length }} files selected.</p>
        }

        @if (uploadProgress() > 0 && uploadProgress() < 100) { <ion-progress-bar [value]="uploadProgress() / 100">
          </ion-progress-bar>
          }

          <ion-button expand="full" (click)="createMicroblog()" [disabled]="!isFormValid()">
            Post
          </ion-button>
      </ion-card-content>
    </ion-card>
  </form>


</ion-content>
