:host ::ng-deep {
  .ql-toolbar {
    .ql-formats {
      margin-right: 8px;
    }

    button {
      width: 28px;
      height: 28px;
      padding: 3px;
    }

    .ql-picker {
      font-size: 14px;
    }
  }

  .ql-container {
    font-size: 16px;
  }
}
.error {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  margin: 4px 0 8px 0;
}
