:host ::ng-deep {
  .ql-toolbar {
    .ql-formats {
      margin-right: 8px;
    }

    button {
      width: 28px;
      height: 28px;
      padding: 3px;
    }

    .ql-picker {
      font-size: 14px;
    }
  }

  .ql-container {
    font-size: 16px;
  }
}
.place-selection-container {
  margin: 1rem 0;
}

.required-location-message {
  color: var(--ion-color-warning);
  font-size: 0.8rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;

  ion-icon {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
}

.error {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  margin: 0.25rem 0;
}

.text-warning {
  color: var(--ion-color-warning);
}
