:host ::ng-deep {
  .ql-toolbar {
    .ql-formats {
      margin-right: 8px;
    }

    button {
      width: 28px;
      height: 28px;
      padding: 3px;
    }

    .ql-picker {
      font-size: 14px;
    }
  }

  .ql-container {
    font-size: 16px;
  }
}
